{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}



{% block body %}
    <h3>On this page you can see information about the company</h3>
    <hr/>
    <h2>The Methodology of Production & Development of Products & Services</h2>
    <p>Our problem solving approach is through a learning cycle of repetition and improvement, which gives us the opportunity for reflection and learning opportunity throughout the entire production cycle.</p>
    <hr/>
    <ul>
        <li>Established in 2020</li>
        <li>This company is located in Shiraz</li>
        <li>The CEO of this company is Yashar</li>
    </ul>

{% endblock %}
